.footer__column-link {
  margin: 0 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

.footer__column-link:hover {
  transition:  0.3s linear;
  opacity: 0.5;
}
