.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  margin: 0;
  padding-top: 100px;
  background: no-repeat left bottom url(../../images/feynman.png) #f2f2f2;
}
